<div class="info">
<h1>Welcome to Sam's Invoices prototype</h1>
<p>Get the code <a href="https://Github.com/d4maged/invoices">Here</a></p>

<div class="select">
<a href="/invoices">
<div class="invoice">
<h2>Invoices example</h2>
</div></a>
<a href="/statement">
<div class="statement">
<h2>Statement example</h2>
</div>
</a>
</div>

